.loginContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 10%;
    margin: 10% 35%;
    padding: 30px;
    width: 400px;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: larger;
  }

  .link {
    color: #a5b462;
  }

  .button {
    background-color:#a5b462;
    border-color: #a5b462;
    border-radius: 10%;
    padding: 10px;
    font-size: larger;
  }

  